@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Toolbar
<!-- Top Bar Start -->
<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0">
            @* <partial name="/Themes/Basic/Shared/NavbarItems.cshtml"/> *@
            @(await Component.InvokeAsync<MainNavbarToolbarViewComponent>())
        </ul>
        
        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile">
                    <i data-feather="menu" class="align-self-center topbar-icon"></i>
                </button>
            </li>

            @* <partial name="/Themes/Basic/Shared/TopMenuButtons.cshtml"/> *@
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->