@inherits Volo.Abp.TextTemplating.Razor.RazorTemplatePageBase
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Document</title>
    <style>
        @GlobalContext["bootstrap"]
    </style>
    
    <style>
        body{
            color: #5d5d5d;
        }
    </style>
</head>
<body>
@Body
</body>
</html>