@page
@using Acme.Samples.Pages
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@model Acme.Samples.Pages.IndexModel
@{
    // var containerClass = ViewBag.FluidLayout == true ? "container-fluid" : "container"; //TODO: Better and type-safe options
    ViewBag.FluidLayout = false;
}
@section content_toolbar {
    @* @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName }) *@
}
@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}

<abp-card>
    <abp-card-header>
        <abp-card-title>
            Titulo
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        This page is an example of using the light side navigation option. By appending the .sb-sidenav-light class to the .sb-sidenav class, the side navigation will take on a light color scheme. The .sb-sidenav-dark is also available for a darker option.
    </abp-card-body>
</abp-card>
<p>This page is an example of using the light side navigation option.</p>
<h1 class="mt-4">Sidenav Light</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Sidenav Light</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        This page is an example of using the light side navigation option. By appending the
        <code>.sb-sidenav-light</code>
        class to the
        <code>.sb-sidenav</code>
        class, the side navigation will take on a light color scheme. The
        <code>.sb-sidenav-dark</code>
        is also available for a darker option.
    </div>
</div>