@page
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Bootstrap
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Core
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JQuery
@model Acme.Samples.Pages.Landing

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!--    <link href="css/styles.css" rel="stylesheet" />-->
    <abp-style type="typeof(CoreStyleContributor)"></abp-style>
    <abp-style type="typeof(BootstrapStyleContributor)"></abp-style>
</head>
<body>
@* ................ *@
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>A Bootstrap 5 Starter Template</h1>
        <p class="lead">A complete project boilerplate built with Bootstrap</p>
        <p>Bootstrap v5.1.3</p>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="js/scripts.js"></script>-->
<abp-style type="typeof(JQueryScriptContributor)"></abp-style>
</body>
</html>
