@page
@using EasyAbp.LoggingManagement.Localization
@using EasyAbp.LoggingManagement.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model EasyAbp.LoggingManagement.Web.Pages.LoggingManagement.AuditLogs.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<LoggingManagementResource> L
@{
    PageLayout.Content.Title = L["SystemLog"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:SystemLogs"].Value);
    PageLayout.Content.MenuItemName = LoggingManagementMenus.SystemLogs;

    var selectItems = new List<SelectListItem>()
    {
        new SelectListItem("Todos", "", true),
        new SelectListItem("Si", "true"),
        new SelectListItem("No", "false"),
    };
}

@section scripts
{
    <abp-script src="/Pages/LoggingManagement/AuditLogs/index.js" />
}
@section styles
{
    <abp-style src="/Pages/LoggingManagement/AuditLogs/index.css"/>
}

<script>
    // var queryString = "@@Model.QueryModel.QueryString";
    // var startTime = "@@Model.QueryModel.StartTime.ToString("yyyy-MM-dd HH:mm:ss.fff")";
    // var endTime = "@@Model.QueryModel.EndTime.ToString("yyyy-MM-dd HH:mm:ss.fff")";
    
    var currentDetailModalData = {
        logName: null,
        logValue: null,
        time: null
    };
</script>

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["AuditLog"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <form data-ajaxForm="true" asp-page="Index" id="formQuery">
            <div class="mb-3">
                <label asp-for="QueryModel.UserId"></label>
                <select asp-for="QueryModel.UserId"
                        class="auto-complete-select form-select"
                        data-autocomplete-api-url="/api/identity/users"
                        data-autocomplete-display-property="name"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true">
                </select>
                <span asp-validation-for="QueryModel.UserId"></span>
            </div>
            <abp-row>
                <abp-column><abp-input asp-for="QueryModel.StartTime"/></abp-column>
                <abp-column><abp-input asp-for="QueryModel.EndTime"/></abp-column>
                <abp-column><abp-input asp-for="QueryModel.MinExecutionDuration"/></abp-column>
                <abp-column><abp-input asp-for="QueryModel.MaxExecutionDuration"/></abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    <div class="mb-3">
                        <label class="mb-1" asp-for="QueryModel.HasException"></label>
                        <abp-radio asp-for="QueryModel.HasException" asp-items="selectItems" inline="true"/>
                    </div>
                </abp-column>
                <abp-column>
                    <abp-row>
                        <abp-column>
                            <div class="d-grid">
                                <abp-button id="search-button" button-type="Outline_Primary" text="@L["Search"].Value"/>
                            </div>
                        </abp-column>
                        <abp-column>
                            <div class="d-grid">
                                <abp-button id="clear-button" button-type="Outline_Warning" text="@L["Clear"].Value"/>
                            </div>
                        </abp-column>
                    </abp-row>
                </abp-column>
            </abp-row>
            
            @* <abp-input asp-for="QueryModel.HasException"/> *@
            @* <abp-row> *@
            @*     <abp-column size-md="_6"> *@
            @*     </abp-column> *@
            @*     <abp-column size-md="_6" class="text-end"> *@
            @*         <abp-button id="search-button" button-type="Outline_Primary" text="@L["Search"].Value"/> *@
            @*     </abp-column> *@
            @* </abp-row> *@
        </form>
        <abp-table striped-rows="true" id="AuditLogTable" class="nowrap">
        </abp-table>
    </abp-card-body>
</abp-card>
