@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars
@model Toolbar
@foreach (var toolbarItem in Model.Items.OrderBy(i => i.Order))
{
    <li class="nav-item">@(await Component.InvokeAsync(toolbarItem.ComponentType))</li>
}
@* no siempres sera un drop down *@
@* en tones la estructura deberia ser *@
@* <div class="nav-item"> *@
@*     <div class="dropdown"> *@
@*         <a></a> *@
@*         <ul></ul> *@
@*     </div> *@
@* </div> *@
@* <li class="nav-item dropdown"> *@
@*     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> *@
@*     <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> *@
@*         <li><a class="dropdown-item" href="#!">Settings</a></li> *@
@*         <li><a class="dropdown-item" href="#!">Activity Log</a></li> *@
@*         <li><hr class="dropdown-divider" /></li> *@
@*         <li><a class="dropdown-item" href="#!">Logout</a></li> *@
@*     </ul> *@
@* </li> *@
@* <li class="nav-item dropdown"> *@
@*     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
@*         Desplegable *@
@*     </a> *@
@*     <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> *@
@*         <li><a class="dropdown-item" href="#!">Settings</a></li> *@
@*         <li><a class="dropdown-item" href="#!">Activity Log</a></li> *@
@*         <li><hr class="dropdown-divider" /></li> *@
@*         <li><a class="dropdown-item" href="#!">Logout</a></li> *@
@*     </ul> *@
@* </li> *@