@page

@model Washyn.Sunat.Catalog.Pages.Index

@{
    // Layout = null;
}

<abp-card>
    <abp-card-body>
        <form asp-page-handler="/Catalog">
            <abp-select asp-for="C01_Id"></abp-select>
            <abp-select asp-for="C02_Id"></abp-select>
            <abp-select asp-for="C03_Id"></abp-select>
            <abp-select asp-for="C04_Id"></abp-select>
            <abp-select asp-for="C05_Id"></abp-select>
            <abp-select asp-for="C06_Id"></abp-select>
            <abp-select asp-for="C07_Id"></abp-select>
            <abp-select asp-for="C08_Id"></abp-select>
            <abp-select asp-for="C09_Id"></abp-select>
            <abp-select asp-for="C10_Id"></abp-select>
            <abp-select asp-for="C11_Id"></abp-select>
            <abp-select asp-for="C12_Id"></abp-select>
            <abp-select asp-for="C14_Id"></abp-select>
            <abp-select asp-for="C15_Id"></abp-select>
            <abp-select asp-for="C16_Id"></abp-select>
            <abp-select asp-for="C17_Id"></abp-select>
            <abp-select asp-for="C18_Id"></abp-select>
            <abp-select asp-for="C19_Id"></abp-select>
            <abp-select asp-for="C20_Id"></abp-select>
            <abp-select asp-for="C21_Id"></abp-select>
            <abp-select asp-for="C22_Id"></abp-select>
            <abp-select asp-for="C23_Id"></abp-select>
            <abp-select asp-for="C24_Id"></abp-select>
            <abp-select asp-for="C26_Id"></abp-select>
            <abp-select asp-for="C27_Id"></abp-select>
            <abp-select asp-for="C51_Id"></abp-select>
            <abp-select asp-for="C52_Id"></abp-select>
            <abp-select asp-for="C53_Id"></abp-select>
            <abp-select asp-for="C54_Id"></abp-select>
            <abp-select asp-for="C55_Id"></abp-select>
            <abp-select asp-for="C56_Id"></abp-select>
            <abp-select asp-for="C57_Id"></abp-select>
            <abp-select asp-for="C58_Id"></abp-select>
            <abp-select asp-for="C59_Id"></abp-select>
            <abp-select asp-for="C60_Id"></abp-select>
            <abp-button text="Enviar" button-type="Outline_Primary" type="submit"></abp-button>
        </form>
    </abp-card-body>
</abp-card>