@using Acme.Samples.Pages.Components.ProfileManagement.UserAvatar
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.SettingManagement
@inject ISettingManager SettingManager
@model ShowProfilePictureViewModel
@{
    var url = $"/account/profile-picture-file/{Model.FileName}";
}

@* <h2>Imagen de perfil</h2> *@
@* <hr class="my-4"> *@

@* TODO: improve this ui add image croper and OK... *@

<div id="ChangeProfilePictureForm">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Imagen de perfil actual</label>
                <br>
                <img id="CurrentProfilePicture" src="@url">
            </div>
        </div>
    </div>
    <hr>

    @* <div class="row"> *@
    @*     <div class="col"> *@
    @*         <div class="custom-checkbox custom-control mb-2"> *@
    @*             <input type="radio" name="pptype" id="Radio_UseDefault" value="use-default" class="custom-control-input pp-type-selector"> *@
    @*             <label class="custom-control-label" for="Radio_UseDefault">Usar avatar por defecto</label> *@
    @*         </div> *@
    @*         <div class="custom-checkbox custom-control mb-2"> *@
    @*             <input type="radio" name="pptype" id="Radio_UseGravatar" value="use-gravatar" class="custom-control-input pp-type-selector"> *@
    @*             <label class="custom-control-label" for="Radio_UseGravatar">Usar Gravatar</label> *@
    @*         </div> *@
    @*         <div class="custom-checkbox custom-control mb-2"> *@
    @*             <input type="radio" name="pptype" id="Radio_UploadFile" value="use-picture" class="custom-control-input pp-type-selector" checked="'checked'"> *@
    @*             <label class="custom-control-label" for="Radio_UploadFile">Subir archivo</label> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* *@
    @* <div class="row " id="UploadPPContainer"> *@
    @*     <div class="col"> *@
    @*         <h3>Cambiar imagen de perfil</h3> *@
    @*         <div class="form-group"><label for="Picture">Seleccione una nueva imagen</label><input accept="image/*" type="file" id="Picture" name="Picture" class="form-control "><span class="text-danger field-validation-valid" data-valmsg-for="Picture" data-valmsg-replace="true"></span></div> *@
    @* *@
    @*         <div class="general-image-container"> *@
    @*             <img id="image"> *@
    @*         </div> *@
    @* *@
    @*         <span id="CursorInfo" class="mt-2 hidden-section">Mueva el cursor sobre las imágenes para ver el estilo redondeado.</span> *@
    @* *@
    @*         <div class="image-process-section"> *@
    @*             <ul class="sample-images clearfix mt-2"> *@
    @*                 <li class="big"></li> *@
    @*                 <li class="medium"></li> *@
    @*                 <li class="small"></li> *@
    @*             </ul> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* *@
    @* <div class="mt-2 row"> *@
    @*     <div class="col"> *@
    @*         <button id="SaveProfilePicture" class="btn btn-primary" type="button" data-busy-text="Procesando..."><span>Guardar cambios</span></button> *@
    @*     </div> *@
    @* </div> *@
    
    <form id="formUpload" method="post" enctype="multipart/form-data">
        @* <div class="custom-file"> *@
        @*     <input type="file" class="custom-file-input" id="validatedCustomFile" required name="file"> *@
        @*     <label class="custom-file-label" for="validatedCustomFile">Choose file...</label> *@
        @* </div> *@
        
        @* <div class="custom-file"> *@
        @*     <input type="file" class="custom-file-input" id="customFile" name="file"> *@
        @*     <label class="custom-file-label" for="customFile">Choose file</label> *@
        @* </div> *@
        
        @* <div class="custom-file"> *@
        @*     <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="file"> *@
        @*     <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label> *@
        @* </div> *@
        
        <input type="file" lang="es" name="file"/>
        <abp-button text="Guardar cambios" button-type="Primary" type="button" id="SaveButton"></abp-button>
    </form>
</div>