@using LogoManagment.Pages.Components.LogoSetting
<h4>Configuración de logo</h4>
<hr>
<abp-card>
    <abp-card-header>
        <abp-card-title>Configuración de logo</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <form method="post" enctype="multipart/form-data" id="@nameof(LogoSettingViewComponent)">
            <abp-row>
                <abp-column>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Cambiar logo de applicación <span>*</span> </label>
                        <input class="form-control" name="logo" type="file" id="formFile" accept="image/*" required="required">
                    </div>
                </abp-column>
            </abp-row>
            <hr class="mt-2">
            <abp-button button-type="Primary" type="submit">Guardar</abp-button>
        </form>
    </abp-card-body>
</abp-card>