@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JsTree
@model Acme.Samples.Pages.Identity.OrganizationUnits.IndexModel

@section styles {
    <abp-style type="typeof(JsTreeStyleContributor)"></abp-style>
}
@section scripts {
    <abp-script type="typeof(JsTreeScriptContributor)"></abp-script>
    <abp-script src="/Pages/Ou/Index.js" />
    <abp-script src="/Pages/Ou/addMemberModal.js" />
    <abp-script src="/Pages/Ou/addRoleModal.js" />
}

<abp-row>
    <abp-column class="mb-3" size-lg="_6" size-md="_12">
        <abp-card>
            <abp-card-header>
                <abp-row>
                    <abp-column>
                        <h6>Unidades organizativas</h6>
                    </abp-column>
                    <abp-column class="text-right">
                        <abp-button button-type="Outline_Primary" name="CreateOrganizationUnit" size="Small" text="Agregar unidad raiz"></abp-button>
                    </abp-column>
                </abp-row>
            </abp-card-header>
            <abp-card-body>
                <div id="OrganizationUnitEditTree"></div>
                <div id="OrganizationUnitTreeEmptyInfo" class="text-muted">No hay unidades organizativas registradas!</div>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column class="mb-3" size-lg="_6" size-md="_12">
        <abp-card>
            <abp-card-body>
                <abp-tabs>
                    <abp-tab title="Miembros">
                        <abp-row class="my-3">
                            <abp-column>
                                <h6>Miembros</h6>
                            </abp-column>
                            <abp-column>
                                <abp-button button-type="Outline_Primary" size="Small" text="Agregar miembro"></abp-button>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column>
                                Content
                            </abp-column>
                        </abp-row>
                    </abp-tab>
                    <abp-tab title="Roles">
                        <abp-row class="my-3">
                            <abp-column>
                                <h6>Miembros</h6>
                            </abp-column>
                            <abp-column>
                                <abp-button button-type="Outline_Primary" size="Small" text="Agregar miembro"></abp-button>
                            </abp-column>
                        </abp-row>
                        <abp-row>
                            <abp-column>
                                Content
                            </abp-column>
                        </abp-row>
                        
                    </abp-tab>
                </abp-tabs>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>