@using Acme.Samples.Pages.Components.ProfileManagement.ProfilePictureSetting
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.SettingManagement
@inject ISettingManager SettingManager
@model Acme.Samples.Pages.Components.ProfileManagement.ProfilePictureSetting.ShowProfilePictureViewModel
@{
    var url = $"/account/profile-picture-file/{Model.FileName}";
}

<abp-card>
    <abp-card-header>
        <abp-card-title>Imagen de perfil</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column>
                <div class="form-group">
                    <label>Imagen de perfil actual</label>
                    <br>
                    <img id="CurrentProfilePicture" alt="Imagen de perfil" src="@url">
                </div>
            </abp-column>
        </abp-row>
        <hr>
        @* <abp-row> *@
        @*     <abp-column> *@
        @*         <abp-radio asp-for="PictureType" inline="true"></abp-radio> *@
        @*     </abp-column> *@
        @* </abp-row> *@
        @* <hr> *@
        <form method="post" enctype="multipart/form-data" id="@nameof(ProfilePictureViewComponent)">
            <abp-row>
                <abp-column>
                    <h5>Cambiar imagen de perfil</h5>
                    <div class="form-group">
                        <label for="formFile" class="form-label">Cambiar imagen de perfil <span>*</span> </label>
                        <input class="form-control" name="file" type="file" lang="es" id="formFile" accept="image/*" required="required">
                    </div>
                </abp-column>
            </abp-row>
            
            @* <abp-row> *@
            @*     <abp-column> *@
            @*         <div class="imageContainer"> *@
            @*             <img id="image"> *@
            @*         </div> *@
            @*     </abp-column> *@
            @* </abp-row> *@
            
            <hr class="mt-2">
            <abp-button button-type="Primary" type="submit" id="SaveProfilePicture">Guardar cambios</abp-button>
        </form>
    </abp-card-body>
</abp-card>